* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    padding: 40px 2%;
    width: 100%;
    height: 90vh;
    min-height: 800px;
    background: url(../img/capa.png) no-repeat;
    background-size: cover;
    background-position: center;
}

header .logo {
    width: 160px;
    height: 40px;
    background-color: #CCC;
    float: left;
}

header nav {
    float: right;
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../img/menu.png);
    background-size: 100% 100%;
}


nav.mobile-menu ul {
    transition: 1s 2s;
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    top: 80px;
    list-style-type: none;
    text-align: center;
    width: 100%;


}

nav.mobile-menu:hover ul {
    display: block;
}

nav.mobile-menu ul li {
    padding: 8px 0;
    transition: 1s;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover {
    background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li a {
    color: black;
    text-decoration: none;
}


nav.desktop-menu ul {
    list-style: none;

}

nav.desktop-menu li {
    float: left;
    padding: 0 20px;
}

nav.desktop-menu li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
nav.desktop-menu li a:hover{
    color: #1970e2;
}

.chamada1 {
    max-width: 600px;
    float: right;
    margin: 140px 145px;
}

.chamada1 h2 {
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao1 {
    background-color: #1970e2;
    width: 100%;
    padding: 0 2%;
    height: 400px;
}

section.sessao1 .container {
    max-width: 1000px;
    height: calc(100% + 30px);
}

.texto-sessao {
    width: 50%;
    float: left;
    color: white;
    margin-top: 40px;
    padding-left: 80px;
    position: relative;
    left: 50px;
}

.texto-sessao h2 {
    font-size: 26px;
    font-weight: 300;
}

.texto-sessao p {
    margin-top: 20px;
    font-size: 15px;
}

.texto-sessao ul {
    font-size: 15px;
    list-style-position: outside;
    padding-left: 15px;
}

.texto-sessao ul li {
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto {
    font-weight: bold;
    font-size: 15px;
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
    margin-top: 30px;
}
.btn1-texto:hover{
    background-color: white;
    color: #FF703D;
}


.device-sessao1 {
    float: left;
    width: 50%;
    position: relative;
    top: -30px;
    height: 430px;
    background-image: url(../img/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sessao2 {
    padding: 80px 2% 0 2%;
    background-color: white;
    text-align: center;
}

.sessao2 .container {
    max-width: 1000px;
}

.sessao2 h2 {
    font-weight: 300;
    color: #272663;
}

.sessao2 p {
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.sessao2 img {
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 81.2px;
}

.sessao3 {
    width: 100%;
}

.part1 {
    color: white;
    width: 50%;
    float: left;
    padding: 140px 0 90px 0;
    background-color: #1970e2;
}

.part1 h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p {
    font-size: 15px;
    margin-top: 10px;
}

.wraper-part1 {
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

.part2 {
    width: 50%;
    float: left;
    padding: 140px 0 0px 0;
}

.sobre-autor {
    max-width: 600px;
    float: left;
    padding-left: 30px;
}

.titulo-autor {
    float: left;
    width: 100%;
}

.wraper-titulo-autor {
    float: left;
}

.titulo-autor h2 {
    padding-right: 20px;
    color: #232323;
    font-weight: 400;
    font-size: 25px;
}

.titulo-autor p {
    padding-right: 20px;
    color: #232323;
    font-weight: 300;
    font-size: 13px;
    font-style: italic;
}

.titulo-autor .img-autor {
    float: left;
    width: 50px;
    height: 50px;
    background-image:url(../img/87945786.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
  
    border-radius: 20px;
}

.texto-autor {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.texto-autor p {
    color: #232323;
    font-size: 15px;
}

.slider-bullets {
    width: 100%;
    float: left;
    padding-left: 50px;
    margin-top: 12px;
}

.slider-bullets span {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(200, 200, 200);
    margin-right: 8px;
    cursor: pointer;
}

/*sessao 4*/
section.sessao4 {
    background-color: #0f53ac;
    padding: 100px 0;
    height: auto;
}

.form {
    float: left;
    width: 50%;
    color: white;
    padding-left: 3px;
}

.form h2 {
    font-size: 23px;
    font-weight: 300;
    margin-left: 17px;
}

.form p {
    margin-left: 17px;
    max-width: 400px;
    font-size: 15px;
    font-weight: 300;
    padding-right: 10px;
}

.form form {
    margin: 15px;
}

.form form input[type=text],
form input[type=email] {
    width: 100%;
    max-width: 480px;
    height: 58px;
    padding-left: 8px;
    margin-top: 8px;
    line-height: 58px;
    border: 1px solid #ccc;
}

.form form textarea {
    margin-top: 8px;
    width: 100%;
    max-width: 480px;
    height: 160px;
    padding: 15px;
    border: 1px solid #ccc;
}

.form form input[type=submit] {
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
}
.form form input[type=submit]:hover{
    background-color: white;
    color: #FF703D;
} 

.map-wraper {
    float: left;
    width: 50%;
    color: white;
    padding: 0 10px;
}

.map-wraper h2 {
    font-size: 23px;
    font-weight: 300;
}

.map-wraper3 {
    margin-top: 10px;
    width: 100%;
    height: 480px;
    position: relative;
}

.map-wraper2 {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    width: 100%;
    padding-top: 80%;
}

.map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #ccc;
}
 iframe{
    width: 100%;
    height: 485px;
}
footer{

    padding: 40px 2%;
    background: black;
    color: white;
}
footer p:nth-of-type(1){
    float: left;
}
footer p:nth-of-type(2){
    float:right;
}

/*Comentarios para reinicia no contro Z, cores #4419e2;*/